# 6510405750 ภูมิระพี เสริญวณิชกุล

In [101]:
import pandas as pd

# 1.โหลดไฟล์ที่ชื่อ olympic_cleaned.csv ขึ้นมาใน DataFrame ที่ชื่อ medals

In [102]:
medals = pd.read_csv('data/olympics_cleaned.csv')

# 2.แสดงจำนวนแถวและจำนวนคอลัมน์ของ medals

In [103]:
medals.shape

(146, 10)

In [104]:
medals.head(5)

,Country,Code,SummerGame,SummerGold,SummerSilver,SummerBronze,WinterGame,WinterGold,WinterSilver,WinterBronze
0,Afghanistan,AFG,13,0,0,2,0,0,0,0
1,Algeria,ALG,12,5,2,8,3,0,0,0
2,Argentina,ARG,23,18,24,28,18,0,0,0
3,Armenia,ARM,5,1,2,9,6,0,0,0
4,Australasia,ANZ,2,3,4,5,0,0,0,0

# 3.ตรวจสอบว่ารหัสประเทศ (Code) ไม่มีซ้ำกันด้วย attribute is_unique

In [105]:
medals['Code'].is_unique

True

# 4.ตั้งรหัสประเทศให้เป็น index

In [106]:
medals = medals.set_index('Code')

# 5.แสดงคอลัมน์เหรียญทองโอลิมปิคฤดูร้อน (SummerGold)

In [107]:
medals['SummerGold'].head(5)

Code
AFG     0
ALG     5
ARG    18
ARM     1
ANZ     3
Name: SummerGold, dtype: int64

# 6.แสดงข้อมูลของประเทศสหรัฐอเมริกา (USA)

In [108]:
medals.loc["USA"]

Country         United States
SummerGame                 26
SummerGold                976
SummerSilver              757
SummerBronze              666
WinterGame                 22
WinterGold                 96
WinterSilver              102
WinterBronze               84
Name: USA, dtype: object

# 7.แสดงเฉพาะข้อมูลของโอลิมปิคฤดูร้อนของทุกประเทศ (คอลัมน์ที่ขึ้นต้นด้วยคำว่า Summer)

In [109]:
medals.filter(like='Summer').head(5)

      SummerGame  SummerGold  SummerSilver  SummerBronze
Code
AFG           13           0             0             2
ALG           12           5             2             8
ARG           23          18            24            28
ARM            5           1             2             9
ANZ            2           3             4             5

# 8.แสดงข้อมูลเหรียญทองของโอลิมปิกฤดูร้อนและฤดูหนาวของประเทศไทย (THA) สิงคโปร์ (SIN) และมาเลเซีย (MAS) แสดงชื่อประเทศด้วย

In [110]:
medals.loc[['THA', 'SIN', 'MAS'], ['Country', 'SummerGold', 'WinterGold']]

        Country  SummerGold  WinterGold
Code
THA    Thailand           7           0
SIN   Singapore           0           0
MAS    Malaysia           0           0

# 9.แสดงข้อมูลเหรียญเงินและเหรียญทองแดงของโอลิมปิคฤดูร้อนของประเทศฝรั่งเศส (FRA) และสเปน (ESP) แสดงชื่อประเทศด้วย

In [111]:
medals.loc[['FRA', 'ESP'], ['Country', 'SummerSilver', 'SummerBronze']]

     Country  SummerSilver  SummerBronze
Code
FRA   France           223           246
ESP    Spain            59            35

# 10.แสดงประเทศที่เข้าร่วมโอลิมปิคฤดูร้อนมากกว่า 24 ครั้ง

In [112]:
medals[medals['SummerGame'] > 24].head(5)

,Country,SummerGame,SummerGold,SummerSilver,SummerBronze,WinterGame,WinterGold,WinterSilver,WinterBronze
Code,,,,,,,,,
AUS,Australia,25,139,152,177,18,5,3,4
AUT,Austria,26,18,33,35,22,59,78,81
BEL,Belgium,25,37,52,53,20,1,1,3
CAN,Canada,25,59,99,121,22,62,56,52
DEN,Denmark,26,43,68,68,13,0,1,0

# 11.แสดงประเทศที่ได้เหรียญทองของโอลิมปิคฤดูร้อนมากกว่า 200 เหรียญ

In [113]:
medals[medals['SummerGold'] > 200]

,Country,SummerGame,SummerGold,SummerSilver,SummerBronze,WinterGame,WinterGold,WinterSilver,WinterBronze
Code,,,,,,,,,
CHN,China,9,201,146,126,10,12,22,19
FRA,France,27,202,223,246,22,31,31,47
GBR,Great Britain,27,236,272,272,22,10,4,12
URS,Soviet Union,9,395,319,296,9,78,57,59
USA,United States,26,976,757,666,22,96,102,84

# 12.แสดงประเทศที่ได้เหรียญทองของโอลิมปิคฤดูร้อนมากกว่า 200 เหรียญและเป็นเหรียญเงินมากกว่า 200 เหรียญ

In [114]:
medals[(medals['SummerGold'] > 200) & (medals['SummerSilver'] > 200)]

,Country,SummerGame,SummerGold,SummerSilver,SummerBronze,WinterGame,WinterGold,WinterSilver,WinterBronze
Code,,,,,,,,,
FRA,France,27,202,223,246,22,31,31,47
GBR,Great Britain,27,236,272,272,22,10,4,12
URS,Soviet Union,9,395,319,296,9,78,57,59
USA,United States,26,976,757,666,22,96,102,84

# 13.แสดงประเทศที่ได้เหรียญทองของโอลิมปิคฤดูหนาวมากกว่าเหรียญเงินของโอลิมปิคฤดูหนาว

In [115]:
medals[medals['WinterGold'] > medals['WinterSilver']].head(6)

,Country,SummerGame,SummerGold,SummerSilver,SummerBronze,WinterGame,WinterGold,WinterSilver,WinterBronze
Code,,,,,,,,,
AUS,Australia,25,139,152,177,18,5,3,4
BLR,Belarus,5,12,24,39,6,6,4,5
CAN,Canada,25,59,99,121,22,62,56,52
EST,Estonia,11,9,9,15,9,4,2,1
EUA,United Team of Germany,3,28,54,36,3,8,6,5
GDR,East Germany,5,153,129,127,6,39,36,35

# 14.แสดงประเทศที่ได้เหรียญทองของโอลิมปิคฤดูหนาวมากกว่าเหรียญเงินและเหรียญทองแดงของโอลิมปิคฤดูหนาวรวมกัน

In [116]:
medals[medals['WinterGold'] > (medals['WinterSilver'] + medals['WinterBronze'])]

,Country,SummerGame,SummerGold,SummerSilver,SummerBronze,WinterGame,WinterGold,WinterSilver,WinterBronze
Code,,,,,,,,,
EST,Estonia,11,9,9,15,9,4,2,1
UZB,Uzbekistan,5,5,5,10,6,1,0,0

# 15.แสดงข้อมูลโอลิมปิกฤดูร้อนเท่านั้นของประเทศที่ชื่อขึ้นต้นด้วย 'A' ทั้งหมด

In [117]:
medals[medals['Country'].str.startswith('A')].filter(like="Summer").head(5)

      SummerGame  SummerGold  SummerSilver  SummerBronze
Code
AFG           13           0             0             2
ALG           12           5             2             8
ARG           23          18            24            28
ARM            5           1             2             9
ANZ            2           3             4             5

# 16.ประเทศที่เข้าร่วมจำนวนโอลิมปิกฤดูร้อนมากที่สุดคือกี่ครั้ง

In [118]:
medals['SummerGame'].max()

27

# 17.แสดงชื่อประเทศที่เข้าร่วมโอลิมปิกฤดูร้อนมากที่สุด (ระวัง!! อาจมีหลายประเทศ)

In [119]:
medals[medals['SummerGame'] == medals['SummerGame'].max()]['Country']

Code
FRA           France
GBR    Great Britain
GRE           Greece
SUI      Switzerland
Name: Country, dtype: object

# 18.จำนวนประเทศที่เข้าร่วมโอลิมปิกฤดูหนาวบ่อยที่สุดมีกี่ประเทศ

In [120]:
medals[medals['WinterGame'] == medals['WinterGame'].max()]['Country'].count()

12

# 19.จำนวนเหรียญทั้งหมดที่แจกไปในโอลิมปิกฤดูหนาวรวมแล้วมีกี่เหรียญ

In [121]:
medals['WinterTotal'] = medals['WinterGold'] + medals['WinterSilver'] + medals['WinterBronze']
medals['WinterTotal'].sum()

2865

# 20.หาค่าเฉลี่ยของจำนวนเหรียญทองฤดูหนาวและฤดูร้อนต่อประเทศ

In [122]:
medals['AvgSummerGold'] = medals['SummerGold'] / medals['SummerGold'].sum()
medals['AvgWinterGold'] = medals['WinterGold'] / medals['WinterGold'].sum()
medals.filter(['Country', 'AvgWinterGold', 'AvgSummerGold']).head(5)

          Country  AvgWinterGold  AvgSummerGold
Code
AFG   Afghanistan            0.0       0.000000
ALG       Algeria            0.0       0.001040
ARG     Argentina            0.0       0.003743
ARM       Armenia            0.0       0.000208
ANZ   Australasia            0.0       0.000624

# 21.แสดงจำนวนเหรียญทั้งหมด(รวมฤดูร้อนและฤดูหนาว)ที่แต่ละประเทศได้

In [123]:
medals['SummerTotal'] = medals['SummerGold'] + medals['SummerSilver'] + medals['SummerBronze']

In [124]:
medals['Total'] = medals['WinterTotal'] + medals['SummerTotal']
medals.filter(['Country', 'Total']).head(5)

          Country  Total
Code
AFG   Afghanistan      2
ALG       Algeria     15
ARG     Argentina     70
ARM       Armenia     12
ANZ   Australasia     12

# 22.แสดงประเทศที่ได้เหรียญรวมทุกประเภทของโอลิมปิกฤดูหนาวมากกว่าเหรียญรวมโอลิมปิกฤดูร้อนให้คอลัมน์ของตารางนี้แสดงชื่อประเทศเหรียญรวมฤดูร้อนเหรียญรวมฤดูหนาว

In [125]:
medals[medals['WinterTotal'] > medals['SummerTotal']].filter(['Country', 'SummerTotal', 'WinterTotal'])

            Country  SummerTotal  WinterTotal
Code
AUT         Austria           86          218
LIE   Liechtenstein            0            9
NOR          Norway          148          329

# 23.แสดงประเทศที่ไม่เคยได้เหรียญใดของโอลิมปิกฤดูร้อนแต่ได้เหรียญใดของฤดูหนาวหรือได้แต่เหรียญฤดูร้อนไม่เคยได้ฤดูหนาว

In [126]:
medals[(medals['WinterTotal'] > 0) ^ (medals['SummerTotal'] > 0)].filter(['Country', 'WinterTotal', 'SummerTotal']).head(5)

          Country  WinterTotal  SummerTotal
Code
AFG   Afghanistan            0            2
ALG       Algeria            0           15
ARG     Argentina            0           70
ARM       Armenia            0           12
ANZ   Australasia            0           12

# 24.แสดงประเทศเรียงลำดับตามเหรียญทองฤดูร้อนจากน้อยไปมาก

In [127]:
medals.sort_values(ascending=True, by="SummerGold").filter(['Country', 'SummerGold']).head(5)

          Country  SummerGold
Code
AFG   Afghanistan           0
NAM       Namibia           0
MNE    Montenegro           0
MDA       Moldova           0
MRI     Mauritius           0

# 25.แสดงประเทศเรียงลำดับตามเหรียญทองฤดูร้อนจากมากไปน้อยถ้าได้เหรียญทองฤดูร้อนเท่ากันให้เรียงตามจำนวนการเข้าแข่งฤดูร้อนจากน้อยไปมาก

In [128]:
medals.sort_values(by=["SummerGold", "SummerGame"], ascending=[False, True]).filter(['Country', 'SummerGold', 'SummerGame']).head(5)

            Country  SummerGold  SummerGame
Code
USA   United States         976          26
URS    Soviet Union         395           9
GBR   Great Britain         236          27
FRA          France         202          27
CHN           China         201           9

In [129]:
medals['TotalGold'] = medals['SummerGold'] + medals['WinterGold']
medals['TotalSilver'] = medals['SummerSilver'] + medals['WinterSilver']
medals['TotalBronze'] = medals['SummerBronze'] + medals['WinterBronze']

# 26.ให้สร้างคอลัมน์ใหม่ในตาราง medals ให้ชื่อว่า score โดยคำนวณคะแนนรวมจากเหรียญที่แต่ละประเทศได้(ทั้งฤดูร้อนและหนาว) โดยให้เหรียญทองได้ 3 คะแนนเหรียญเงินได้ 2 คะแนนเหรียญทองแดงได้ 1 คะแนนแล้วแสดงข้อมูล 10 ประเทศแรกที่ได้คะแนนเยอะที่สุด

In [130]:
medals['score'] = (medals['TotalGold'] * 3) + (medals['TotalSilver'] * 2) + (medals['TotalBronze'])
medals.sort_values(by="score", ascending=False).filter(['Country', 'score']).head(10)

            Country  score
Code
USA   United States   5684
URS    Soviet Union   2526
GBR   Great Britain   1574
GER         Germany   1546
FRA          France   1500
ITA           Italy   1333
SWE          Sweden   1217
CHN           China   1120
GDR    East Germany   1068
RUS          Russia   1042

# 27.การเปรียบเทียบคะแนนจากเหรียญทั้งหมดอาจจะไม่แฟร์เพราะแต่ละประเทศเข้าร่วมการแข่งขันไม่เท่ากันดังนั้นให้สร้างคอลัมน์ใหม่ในตาราง medals ชื่อว่า perGame โดยคำนวณคะแนนต่อการเข้าร่วมแข่งขัน(คะแนนคำนวณเหมือนเดิมแต่หารด้วยจำนวนเกมส์ที่เข้าแข่งขันแยกกันระหว่างฤดูร้อนกับฤดูหนาวค่าperGame จะเป็นผลบวกของคะแนนของฤดูร้อนกับฤดูหนาว) แสดงข้อมูล 10 ประเทศที่ได้คะแนนน้อยที่สุด1.ระวังตรวจสอบผลลัพธ์ให้ดีมี surprise นะข้อนี้

In [131]:
medals['perGame'] = (((medals['SummerGold'] * 3) + (medals['SummerSilver'] * 2) + (medals['SummerBronze']))/medals['SummerGame']) + (((medals['WinterGold'] * 3) + (medals['WinterSilver'] * 2) + (medals['WinterBronze']))/medals['WinterGame'])
medals.sort_values(by="perGame", ascending=True).filter(['Country', 'perGame']).head(10)

                   Country   perGame
Code
BER                Bermuda  0.058824
TOG                   Togo  0.111111
SEN                Senegal  0.153846
AHO   Netherlands Antilles  0.153846
GUA              Guatemala  0.153846
PAR               Paraguay  0.181818
ISV         Virgin Islands  0.181818
MKD              Macedonia  0.200000
CYP                 Cyprus  0.222222
TGA                  Tonga  0.250000