# 6510405750 ภูมิระพี เสริญวณิชกุล

In [72]:
import pandas as pd
import numpy as np

# 1.เปิดไฟล์ italy_earthquakes_from_2016-08-24_to_2016-11-30.csv| และ อ่านข้อมูลจากไฟล์

In [73]:
time_df = pd.read_csv('data/italy_earthquakes_from_2016-08-24_to_2016-11-30.csv')
time_df.head(5)

                      Time  Latitude  Longitude  Depth/Km  Magnitude
0  2016-08-24 03:36:32.000   42.6983    13.2335       8.1        6.0
1  2016-08-24 03:37:26.580   42.7123    13.2533       9.0        4.5
2  2016-08-24 03:40:46.590   42.7647    13.1723       9.7        3.8
3  2016-08-24 03:41:38.900   42.7803    13.1683       9.7        3.9
4  2016-08-24 03:42:07.170   42.7798    13.1575       9.7        3.6

# 2.ปรับคอลัมน์ Time ให้เป็น Timestamp และตั้งให้เป็น index

In [74]:
time_df = time_df.rename(columns={'Time': 'Timestamp'})
time_df['Timestamp'] = pd.to_datetime(time_df['Timestamp'])
time_df = time_df.set_index('Timestamp')
time_df.head(5)

                         Latitude  Longitude  Depth/Km  Magnitude
Timestamp
2016-08-24 03:36:32.000   42.6983    13.2335       8.1        6.0
2016-08-24 03:37:26.580   42.7123    13.2533       9.0        4.5
2016-08-24 03:40:46.590   42.7647    13.1723       9.7        3.8
2016-08-24 03:41:38.900   42.7803    13.1683       9.7        3.9
2016-08-24 03:42:07.170   42.7798    13.1575       9.7        3.6

# 3.เวลาที่เกิดแผ่นดินไหวแรงที่สุดคือวันเวลาไหน

In [75]:
time_df['Magnitude'].idxmax()

Timestamp('2016-10-30 08:40:17.360000')

# 4.ในวันที่เกิดแผ่นดินไหวแรงที่สุดมีแผ่นดินไหวกี่ครั้ง

In [76]:
time_df.loc['2016-10-30']["Magnitude"].count()

389

# 5.แสดงข้อมูลตั้งแต่ 7 ถึง 9 โมงเช้าในวันที่เกิดแผ่นดินไหวแรงที่สุด

In [77]:
max_magnitude_date = time_df.sort_index().loc['2016-10-30 07:00:00':'2016-10-30 09:00:00']
max_magnitude_date

                         Latitude  Longitude  Depth/Km  Magnitude
Timestamp
2016-10-30 07:01:14.060   42.8522    13.2443       8.9        2.4
2016-10-30 07:02:48.160   42.8538    13.2342       8.3        2.5
2016-10-30 07:14:48.470   42.8737    13.1502       9.2        2.4
2016-10-30 07:31:51.660   42.8753    13.0563       9.9        2.2
2016-10-30 08:04:07.760   42.7907    13.0872      10.2        2.4
2016-10-30 08:16:28.780   43.0622    13.0683       8.7        2.1
2016-10-30 08:31:19.890   42.9268    13.0287      10.8        2.0
2016-10-30 08:40:17.360   42.8322    13.1107       9.2        6.5
2016-10-30 08:41:17.010   42.7720    13.1358       9.3        4.3
2016-10-30 08:42:27.470   42.8795    13.0562       9.6        3.9
2016-10-30 08:43:08.810   42.7668    13.1383       9.7        4.0
2016-10-30 08:43:46.260   42.9000    13.1455       6.7        3.5
2016-10-30 08:44:30.670   42.8548    13.0853       8.3        4.6
2016-10-30 08:47:05.430   42.7868    13.1655       5.8        3.4
2016-10-30 08:48:27.160   42.7825    13.1632      10.8        3.8
2016-10-30 08:48:52.710   42.6828    13.2003      10.1        3.9
2016-10-30 08:50:43.710   42.8068    13.1952      10.5        3.6
2016-10-30 08:51:14.270   42.8925    13.0782       9.1        3.7
2016-10-30 08:51:55.240   42.7828    13.1332      10.1        3.8
2016-10-30 08:53:12.820   42.8090    13.0830      10.1        3.4
2016-10-30 08:53:54.740   42.7692    13.1643      10.8        3.2
2016-10-30 08:54:46.760   42.7958    13.2090      11.3        2.8
2016-10-30 08:55:41.060   42.7122    13.1968      10.8        4.1
2016-10-30 08:55:54.210   42.7508    13.2307      10.9        4.1
2016-10-30 08:56:05.780   42.7993    13.1077      10.5        4.2
2016-10-30 08:56:38.110   42.8437    13.1453       9.7        3.5
2016-10-30 08:57:21.560   42.8607    13.0922       9.5        3.8
2016-10-30 08:58:02.960   42.9078    13.1008       7.3        3.5
2016-10-30 08:59:31.500   42.8517    13.2118       9.9        3.9
2016-10-30 08:59:45.430   42.8235    13.1828      12.7        3.6

# 6.แผ่นดินไหวที่แรงที่สุดกับแรงเป็นที่ 2 ห่างกันเท่าไหร่ตอบเป็นวัน-ชั่วโมง-นาที

In [78]:
time_sort_df = time_df.sort_values(['Magnitude'], ascending=False)
time_sort_df.index[0] - time_sort_df.index[1]

Timedelta('67 days 05:03:45.360000')

# 7.คำนวณความแรงของแผ่นดินไหวที่เปลี่ยนไปในแต่ละครั้งของข้อมูลในข้อ 5.หมายเหตุ: ใช้คำสั่ง shift() ช่วยเลื่อนแถวของคอลัมน์ Magnitude เพื่อคำนวณความแตกต่าง

In [79]:
max_magnitude_date['diff'] = max_magnitude_date['Magnitude'].diff()
max_magnitude_date.filter(['Timestamp', 'Magnitude', 'diff'])

                         Magnitude  diff
Timestamp
2016-10-30 07:01:14.060        2.4   NaN
2016-10-30 07:02:48.160        2.5   0.1
2016-10-30 07:14:48.470        2.4  -0.1
2016-10-30 07:31:51.660        2.2  -0.2
2016-10-30 08:04:07.760        2.4   0.2
2016-10-30 08:16:28.780        2.1  -0.3
2016-10-30 08:31:19.890        2.0  -0.1
2016-10-30 08:40:17.360        6.5   4.5
2016-10-30 08:41:17.010        4.3  -2.2
2016-10-30 08:42:27.470        3.9  -0.4
2016-10-30 08:43:08.810        4.0   0.1
2016-10-30 08:43:46.260        3.5  -0.5
2016-10-30 08:44:30.670        4.6   1.1
2016-10-30 08:47:05.430        3.4  -1.2
2016-10-30 08:48:27.160        3.8   0.4
2016-10-30 08:48:52.710        3.9   0.1
2016-10-30 08:50:43.710        3.6  -0.3
2016-10-30 08:51:14.270        3.7   0.1
2016-10-30 08:51:55.240        3.8   0.1
2016-10-30 08:53:12.820        3.4  -0.4
2016-10-30 08:53:54.740        3.2  -0.2
2016-10-30 08:54:46.760        2.8  -0.4
2016-10-30 08:55:41.060        4.1   1.3
2016-10-30 08:55:54.210        4.1   0.0
2016-10-30 08:56:05.780        4.2   0.1
2016-10-30 08:56:38.110        3.5  -0.7
2016-10-30 08:57:21.560        3.8   0.3
2016-10-30 08:58:02.960        3.5  -0.3
2016-10-30 08:59:31.500        3.9   0.4
2016-10-30 08:59:45.430        3.6  -0.3

# 8.มีแผ่นดินไหวเกิดขึ้นกี่ครั้งในแต่ละวัน

In [80]:
time_df['Magnitude'].resample('D').size()

Timestamp
2016-08-24    508
2016-08-25    240
2016-08-26    212
2016-08-27    140
2016-08-28    110
             ...
2016-11-26     41
2016-11-27     73
2016-11-28     82
2016-11-29     93
2016-11-30     47
Freq: D, Name: Magnitude, Length: 99, dtype: int64

# 9.ถ้าแยกเวลาเป็นช่วงช่วงละหนึ่งชั่วโมงมีกี่ช่วงที่ไม่มีแผ่นดินไหวเกิดขึ้นเลยในชั่วโมงนั้น

In [81]:
time_df.resample('H').size()[time_df.resample('H').size() == 0].count()

759

# 10.ถ้าแยกเวลาเป็นช่วงช่วงละ 5 นาทีช่วงเวลาไหนมีค่าเฉลี่ยความรุนแรงของแผ่นดินไหวสูงที่สุดและค่าเฉลี่ยนั้นมีค่าเท่าไหร่

In [82]:
time_df['Magnitude'].resample('5T').mean().max()

5.4

# 11.ระยะเวลาที่ไม่มีแผ่นดินไหวเลยนานที่สุดคือเท่าไหร่

In [83]:
time_df['time_diff'] = time_df.index.to_series().diff()
time_df['from_time'] = time_df.index.to_series().shift(1)
time_df['time_diff'].max()

Timedelta('0 days 16:46:16.250000')

# 12.ระยะเวลาที่ไม่มีแผ่นดินไหวเลยนานที่สุดคือช่วงไหนระบุเป็นเวลาเร่ิมต้นและเวลาจบ

In [84]:
print("start", time_df[time_df['time_diff'].max() == time_df['time_diff']]['from_time'].iloc[0])
print("end", time_df[time_df['time_diff'].max() == time_df['time_diff']].index[0])

start 2016-10-25 03:13:54.230000
end 2016-10-25 20:00:10.480000

# 13.สมมติว่าเรานิยามแผ่นดินไหวที่รุนแรงนั้นต้องมี Magnitude มากกว่าการไหวครั้งก่อนและครั้งหลังอย่างน้อย 2.0 จงคัดเลือกเหตุการณ์แผ่นดินไหวที่รุนแรงออกมา

In [85]:
time_df['Magnitude_diff'] = time_df['Magnitude'].diff()
time_df['Magnitude_after_diff'] = time_df['Magnitude'].shift(-1) - time_df['Magnitude']
strong_eqk = time_df[(time_df['Magnitude_diff'] >= 2) & (time_df['Magnitude_after_diff'] <= -2)].filter(['Latitude', 'Longitude', 'Magnitude'])
strong_eqk

                         Latitude  Longitude  Magnitude
Timestamp
2016-08-24 04:33:28.890   42.7922    13.1507        5.4
2016-10-26 19:10:36.340   42.8802    13.1275        5.4
2016-10-26 21:18:05.850   42.9087    13.1288        5.9
2016-10-30 08:40:17.360   42.8322    13.1107        6.5
2016-11-29 18:14:02.690   42.5293    13.2803        4.4

# 14.จากตารางข้อ 13. ให้เพิ่มคอลัมน์ใหม่ชื่อ hour_count แสดงจำนวนแผ่นดินไหวในชั่วโมงที่มีเหตุการณ์แผ่นดินไหวรุนแรงด้วย

In [86]:
temp_df = time_df 
temp_df = time_df.resample('H').size()
temp_df.name = 'hour_count'
temp_df = temp_df.to_frame()


strong_eqk = pd.merge_asof(strong_eqk, temp_df, on='Timestamp', direction='backward')
strong_eqk.set_index('Timestamp', inplace=True)
strong_eqk

                         Latitude  Longitude  Magnitude  hour_count
Timestamp
2016-08-24 04:33:28.890   42.7922    13.1507        5.4          61
2016-10-26 19:10:36.340   42.8802    13.1275        5.4          12
2016-10-26 21:18:05.850   42.9087    13.1288        5.9          24
2016-10-30 08:40:17.360   42.8322    13.1107        6.5          26
2016-11-29 18:14:02.690   42.5293    13.2803        4.4          11

# 15.แสดงจำนวนแผ่นดินไหวแยกตาม 24 ชั่วโมง (เอาจำนวนแผ่นดินไหวของแต่ละชั่วโมง 0-23 ของทุกวันรวมกันแสดงผลตามชั่วโมง)

In [87]:
time_df['Hour'] = time_df.index.hour
time_df.groupby('Hour').size()

Hour
0     333
1     303
2     307
3     303
4     343
5     395
6     403
7     401
8     363
9     388
10    336
11    327
12    338
13    315
14    351
15    331
16    295
17    317
18    317
19    340
20    314
21    310
22    317
23    339
dtype: int64

# 16.คำนวณค่าเฉลี่ยของความรุนแรงแผ่นดินไหวที่มากที่สุดในช่วง 3 วันโดยหาความแรงของแผ่นดินไหวที่มากที่สุดในแต่ละวันก่อนแล้วใช้ sliding window หาค่าเฉลี่ยของทุกๆ 3 วัน

In [88]:
daily_max_magnitude = time_df.resample('D').max()['Magnitude']
avg_max_magnitude = daily_max_magnitude.rolling(3)
for window in avg_max_magnitude:
    print(window)

Timestamp
2016-08-24    6.0
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-08-24    6.0
2016-08-25    4.4
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-08-24    6.0
2016-08-25    4.4
2016-08-26    4.8
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-08-25    4.4
2016-08-26    4.8
2016-08-27    4.0
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-08-26    4.8
2016-08-27    4.0
2016-08-28    4.2
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-08-27    4.0
2016-08-28    4.2
2016-08-29    3.6
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-08-28    4.2
2016-08-29    3.6
2016-08-30    3.3
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-08-29    3.6
2016-08-30    3.3
2016-08-31    3.9
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-08-30    3.3
2016-08-31    3.9
2016-09-01    3.6
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-08-31    3.9
2016-09-01    3.6
2016-09-02    3.0
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-09-01    3.6
2016-09-02    3.0
2016-09-03    4.3
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-09-02    3.0
2016-09-03    4.3
2016-09-04    2.9
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-09-03    4.3
2016-09-04    2.9
2016-09-05    3.5
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-09-04    2.9
2016-09-05    3.5
2016-09-06    3.2
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-09-05    3.5
2016-09-06    3.2
2016-09-07    3.4
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-09-06    3.2
2016-09-07    3.4
2016-09-08    3.2
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-09-07    3.4
2016-09-08    3.2
2016-09-09    2.7
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-09-08    3.2
2016-09-09    2.7
2016-09-10    3.3
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-09-09    2.7
2016-09-10    3.3
2016-09-11    3.3
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-09-10    3.3
2016-09-11    3.3
2016-09-12    3.1
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-09-11    3.3
2016-09-12    3.1
2016-09-13    3.4
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-09-12    3.1
2016-09-13    3.4
2016-09-14    3.1
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-09-13    3.4
2016-09-14    3.1
2016-09-15    3.9
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-09-14    3.1
2016-09-15    3.9
2016-09-16    3.1
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-09-15    3.9
2016-09-16    3.1
2016-09-17    3.4
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-09-16    3.1
2016-09-17    3.4
2016-09-18    3.2
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-09-17    3.4
2016-09-18    3.2
2016-09-19    3.0
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-09-18    3.2
2016-09-19    3.0
2016-09-20    3.7
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-09-19    3.0
2016-09-20    3.7
2016-09-21    3.5
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-09-20    3.7
2016-09-21    3.5
2016-09-22    3.4
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-09-21    3.5
2016-09-22    3.4
2016-09-23    2.8
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-09-22    3.4
2016-09-23    2.8
2016-09-24    3.0
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-09-23    2.8
2016-09-24    3.0
2016-09-25    3.0
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-09-24    3.0
2016-09-25    3.0
2016-09-26    2.3
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-09-25    3.0
2016-09-26    2.3
2016-09-27    2.7
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-09-26    2.3
2016-09-27    2.7
2016-09-28    3.0
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-09-27    2.7
2016-09-28    3.0
2016-09-29    2.8
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-09-28    3.0
2016-09-29    2.8
2016-09-30    3.4
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-09-29    2.8
2016-09-30    3.4
2016-10-01    2.8
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-09-30    3.4
2016-10-01    2.8
2016-10-02    2.7
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-10-01    2.8
2016-10-02    2.7
2016-10-03    3.2
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-10-02    2.7
2016-10-03    3.2
2016-10-04    3.4
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-10-03    3.2
2016-10-04    3.4
2016-10-05    3.2
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-10-04    3.4
2016-10-05    3.2
2016-10-06    3.2
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-10-05    3.2
2016-10-06    3.2
2016-10-07    3.2
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-10-06    3.2
2016-10-07    3.2
2016-10-08    3.9
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-10-07    3.2
2016-10-08    3.9
2016-10-09    3.6
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-10-08    3.9
2016-10-09    3.6
2016-10-10    2.5
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-10-09    3.6
2016-10-10    2.5
2016-10-11    3.2
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-10-10    2.5
2016-10-11    3.2
2016-10-12    2.5
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-10-11    3.2
2016-10-12    2.5
2016-10-13    3.1
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-10-12    2.5
2016-10-13    3.1
2016-10-14    3.3
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-10-13    3.1
2016-10-14    3.3
2016-10-15    3.0
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-10-14    3.3
2016-10-15    3.0
2016-10-16    4.0
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-10-15    3.0
2016-10-16    4.0
2016-10-17    2.6
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-10-16    4.0
2016-10-17    2.6
2016-10-18    2.4
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-10-17    2.6
2016-10-18    2.4
2016-10-19    3.0
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-10-18    2.4
2016-10-19    3.0
2016-10-20    2.9
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-10-19    3.0
2016-10-20    2.9
2016-10-21    2.2
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-10-20    2.9
2016-10-21    2.2
2016-10-22    2.9
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-10-21    2.2
2016-10-22    2.9
2016-10-23    2.6
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-10-22    2.9
2016-10-23    2.6
2016-10-24    3.0
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-10-23    2.6
2016-10-24    3.0
2016-10-25    2.2
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-10-24    3.0
2016-10-25    2.2
2016-10-26    5.9
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-10-25    2.2
2016-10-26    5.9
2016-10-27    4.3
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-10-26    5.9
2016-10-27    4.3
2016-10-28    3.8
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-10-27    4.3
2016-10-28    3.8
2016-10-29    4.1
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-10-28    3.8
2016-10-29    4.1
2016-10-30    6.5
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-10-29    4.1
2016-10-30    6.5
2016-10-31    4.0
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-10-30    6.5
2016-10-31    4.0
2016-11-01    4.8
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-10-31    4.0
2016-11-01    4.8
2016-11-02    3.7
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-11-01    4.8
2016-11-02    3.7
2016-11-03    4.7
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-11-02    3.7
2016-11-03    4.7
2016-11-04    3.4
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-11-03    4.7
2016-11-04    3.4
2016-11-05    3.6
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-11-04    3.4
2016-11-05    3.6
2016-11-06    3.8
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-11-05    3.6
2016-11-06    3.8
2016-11-07    3.8
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-11-06    3.8
2016-11-07    3.8
2016-11-08    3.4
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-11-07    3.8
2016-11-08    3.4
2016-11-09    3.7
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-11-08    3.4
2016-11-09    3.7
2016-11-10    3.6
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-11-09    3.7
2016-11-10    3.6
2016-11-11    3.5
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-11-10    3.6
2016-11-11    3.5
2016-11-12    4.1
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-11-11    3.5
2016-11-12    4.1
2016-11-13    3.9
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-11-12    4.1
2016-11-13    3.9
2016-11-14    4.0
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-11-13    3.9
2016-11-14    4.0
2016-11-15    3.2
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-11-14    4.0
2016-11-15    3.2
2016-11-16    3.9
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-11-15    3.2
2016-11-16    3.9
2016-11-17    3.2
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-11-16    3.9
2016-11-17    3.2
2016-11-18    3.4
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-11-17    3.2
2016-11-18    3.4
2016-11-19    3.2
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-11-18    3.4
2016-11-19    3.2
2016-11-20    3.2
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-11-19    3.2
2016-11-20    3.2
2016-11-21    3.2
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-11-20    3.2
2016-11-21    3.2
2016-11-22    3.1
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-11-21    3.2
2016-11-22    3.1
2016-11-23    3.8
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-11-22    3.1
2016-11-23    3.8
2016-11-24    2.9
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-11-23    3.8
2016-11-24    2.9
2016-11-25    3.1
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-11-24    2.9
2016-11-25    3.1
2016-11-26    3.2
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-11-25    3.1
2016-11-26    3.2
2016-11-27    3.9
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-11-26    3.2
2016-11-27    3.9
2016-11-28    3.6
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-11-27    3.9
2016-11-28    3.6
2016-11-29    4.4
Freq: D, Name: Magnitude, dtype: float64
Timestamp
2016-11-28    3.6
2016-11-29    4.4
2016-11-30    3.1
Freq: D, Name: Magnitude, dtype: float64

In [89]:
avg_max_magnitude.mean()

Timestamp
2016-08-24         NaN
2016-08-25         NaN
2016-08-26    5.066667
2016-08-27    4.400000
2016-08-28    4.333333
                ...
2016-11-26    3.066667
2016-11-27    3.400000
2016-11-28    3.566667
2016-11-29    3.966667
2016-11-30    3.700000
Freq: D, Name: Magnitude, Length: 99, dtype: float64